syncs3.php
config.php
SnapShot.bat
SnapShot.sh
StartCAM-webstream.bat
StartCAM-webstream.sh
ffplay.exe
ffprobe.exe
ffmpeg.exe
/stream/*
/vendor/*
/stream/snapshots/*
!/stream/snapshots/sample.jpg
!/vendor/autoload.php
!/vendor/install.json